@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400&family=Dancing+Script:wght@400;500;600;700&display=swap');
:root
{
    --bg-black-900: #f2f2fc;
    --bg-black-100: #fdf9ff;
    --bg-black-50: #e8dfec;
    --text-black-900: #302e4d;
    --text-black-700: #504e70;
}
body
{
    line-height: 1.5;
    font-size: 16px;
    font-family: 'Crimson Text', sans-serif;
}
*
{
    margin: 0;
    padding: 0;
    outline: none;
    text-decoration: none;
    box-sizing: border-box;
}
::before, ::after
{
    box-sizing: border-box;
}
ul
{
    list-style: none;
}
.home-Section
{
    background: var(--bg-black-900);
    min-height: 100vh;
    display: block;
    padding: 0 30px;
    opacity: 1;
}
.hidden
{
    display: none !important;
}
.Main-Content
{
    padding-left: 270px;
}
.padd-15
{
    padding-left: 15px;
    padding-right: 15px;    
}
.container
{
    max-width: 1100px;
    width: 100%;
    margin: auto;
}
.section .container
{
    padding-top: 60px;
    padding-bottom: 70px;
}
.section-title
{
    flex: 0 0 100%;
    max-width: 100%;
    margin-bottom: 60px;
    /* background: red; */

}
.section-title h2
{
    font-size: 40px;
    color: var(--text-black-900);
    font-weight: 700;
    position: relative;
}

.section-title h2::before
{
    content: '';
    height: 4px;
    width: 50px;
    background-color: var(--skin-color);
    position: absolute;
    top: 100%;
    left: 0;
}
.section-title h2::after
{
    content: '';
    height: 4px;
    width: 25px;
    background-color: var(--skin-color);
    position: absolute;
    top: 100%;
    left: 0;
    margin-top: 8px;
}
.row
{
    display: flex;
    flex-wrap: wrap;
    margin-left: -15px;
    margin-right: -15px;
    position: relative;
}
.Aside
{
    width: 270px;
    background: var(--bg-black-100);
    position: fixed;
    left: 0;
    top: 0;
    padding: 30px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
    border-right: 1px solid var(--bg-black-50);
}
.Aside .logo 
{
    position: absolute;
    top: 50px;
    font-size: 30px;
    text-transform: capitalize
}
.Aside .logo a
{
    color: var(--text-black-900);
    font-weight: 700;
    padding: 15px 20px;
    font-size: 30px;
    letter-spacing: 5px;
    position: relative;
}
.Aside .logo a span
{
    font-family: 'crimson text', cursive;
    font-size: 40px;
}
.Aside .logo a::before
{
    content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    border-bottom: 5px solid var(--skin-color);
    border-left: 5px solid var(--skin-color);
    bottom: 0;
    left: 0;
}
.Aside .logo a::after
{
    content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    border-top: 5px solid var(--skin-color);
    border-right: 5px solid var(--skin-color);
    top: 0;
    right: 0;
}
.Aside .nav-toggler
{
    height: 40px;
    width: 45px;
    border: 1px solid var(--bg-black-50);
    cursor: pointer;
    position: fixed;
    left: 300px;
    top: 20px;
    border-radius: 5px;
    background: var(--bg-black-100);
    display: none;
    align-items: center;
    justify-content: center;
}
.Aside .nav-toggler span
{
    height: 2px;
    width: 18px;
    background: var(--skin-color);
    display: inline-block;
    position: relative;

}
.Aside .nav-toggler span::before
{
    content: '';
    height: 2px;
    width: 18px;
    background: var(--skin-color);
    position: absolute;
    top: -6px;
    left: 0;
}
.Aside .nav-toggler span::after
{
    content: '';
    height: 2px;
    width: 18px;
    background: var(--skin-color);
    position: absolute;
    top: 6px;
    left: 0;
}
.Aside .nav
{
    margin-top: 50px;
}
.Aside .nav li
{
    margin-bottom: 20px;
    display: block;
}
.Aside .nav li a
{
    font-size: 16px;
    font-weight: 600;
    display: block;
    border-bottom: 1px solid var(--bg-black-50);
    color: var(--text-black-900);
    padding: 5px 15px;
}

    .Aside .nav li a.active
    {
        color: var(--skin-color);
    }
.Aside .nav li a i
{
    margin-right: 15px;
}
/* home section */
.home-Section
{
    min-height: 100vh;
    display: flex;
    color : var(--text-black-900);
    /* background: red; */
}
.home-Section .home-info
{
    flex:0 0 60%;
    max-width: 70%;
    /* background: red; */
}
.home-Section .home-info h3
{
    flex: 0 0 70%;
    max-width: 70%;
    text-align: center;
    position: relative;
    /* background: red; */
}
.home-Section .home-info h3 span
{
    font-family: 'Dancing Script', sans-serif;
    font-size: 30px;
    font-weight: 700;
    color: var(--skin-color);
    /* background: red; */
}
.home-Section .home-info p
{
    margin-bottom: 70px;
    font-size: 20px;
    color: var(--text-black-700);
    /* background: red */
}
.btn
{
    font-size: 16px;
    font-weight: 500;
    padding: 15px 35px;
    color: white;
    border-radius: 40px;
    display: inline-block;
    white-space: nowrap;
    border: none;
    background: var(--skin-color);
    transition: all 0.3s ease;
    
}
.btn:hover
{
    transform: scale(1.05);
}
.shadow-dark
{
    box-shadow: 0 0 20px rgba(48, 46, 77, 0.15);
}
h3.hello
{
    font-size: 28px;
    margin: 15px 0;
}
h3.hello span
{
    font-family: 'Dancing Script', sans-serif;
    font-size: 30px;
    font-weight: 700;
    color: var(--skin-color);
}
h3.my-profession 
{
    font-size: 30px;
    margin: 15px 0; 
}
.typing
{
    color: var(--skin-color);
}
.home-Section .home-img
{
    flex: 0 0 40%;
    max-width: 40%;
    text-align: center;
    /* background: red; */
    position: relative;
}
.home-Section .home-img::after
{
    content: '';
    position: absolute;
    height: 80px;
    width: 80px;
    border-bottom: 10px solid var(--skin-color);
    border-right: 10px solid var(--skin-color);
    right: 20px;
    bottom: -40px;
}
.home-Section .home-img::before
{
    content: '';
    position: absolute;
    height: 80px;
    width: 80px;
    border-top: 10px solid var(--skin-color);
    border-left: 10px solid var(--skin-color);
    left: 20px;
    top: -40px;
}
.home-Section .home-img img
{
    height: 400px;
    margin: auto;
    border-radius: 5px;
    /* border: 10px solid transparent; */
    /* background: red; */
}
/* about */

.About-Section .About-content
{
    flex : 0 0 100%;
    max-width: 100%;
    /* background: red; */
}
.About-Section .container .title
{
    display: flex;
    flex-wrap: wrap;
    /* background: red; */
    padding-top: 5%;
}
.About-Section .About-content .about-text
{
    flex: 0 0 100%;
    max-width: 100%;
}
.About-Section .About-content .about-text h3
{
    font-size: 24px;
    margin-bottom: 15px;
    font-weight: 700;
    color: var(--text-black-900);
}
.About-Section .About-content .about-text h3 span
{
    color: var(--skin-color);
}
.About-Section .About-content .about-text p
{
    font-size: 16px;
    line-height: 25px;
    color: var(--text-black-700); 
}
.About-Section .About-content  .personal-info 
{
    flex: 0 0 60%;
    max-width: 60%;
    margin-top: 40px;
    /* background: red;  */
}
.About-Section .About-content  .personal-info .info-item
{
    flex: 0 0 50%;
    max-width: 50%;
    /* background: red; */
}
.About-Section .About-content  .personal-info .info-item p
{
    font-weight: 600;
    padding: 10px 0;
    font-size: 16px;
    color: var(--text-black-900);
    border-bottom: 1px solid var(--bg-black-50);
}
.About-Section .About-content  .personal-info .info-item p span
{
    font-weight: 400;
    color: var(--text-black-700);
    margin-left: 4px;
    display: inline-block;
}
.About-Section .About-content .personal-info .buttons
{
    margin-top: 30px;
}
.About-Section .About-content .personal-info .buttons .btn
{
    margin-right: 15px;
    margin-top: 10px;
}
.About-Section .About-content .skills
{
    flex: 0 0 40%;
    max-width: 50%;
    /* background: red; */
    margin-top: 45px;
    
}
.About-Section .About-content .skills .skill-item
{
    flex: 0 0 50%;
    max-width: 60%;
    /* background: red; */

}
.About-Section .About-content .skills .skill-item h5
{
    line-height: 40px;
    font-weight: 600;
    font-size: 16px;
    color: var(--text-black-900);
    text-transform: capitalize;
    /* background: red; */

}
.About-Section .About-content .skills .skill-item .progress
{
    background-color: var(--bg-black-50);
    height: 7px;
    border-radius: 4px;
    width: 100%;
    position: relative;
    /* background: red; */

}
.About-Section .About-content .skills .skill-item
{
    margin-bottom: 25px;
    border-bottom: 1px solid var(--bg-black-50);
}

/* .About-Section .About-content .skills .skill-item .progress .progress-in  */

    /* position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    border-radius: 4px;
    background-color: var(--skin-color); */
    /* background: red; */


/* .About-Section .About-content .skills .skill-item .skill-percent  */

/*    position: absolute;
    right: 0;
    color: var(--text-black-900);
    top: -40px;
    font-weight: 400;
    line-height: 40px; */
    /* background: red; */

.About-Section .About-content .education,
.About-Section .About-content .experience
{
    flex: 0 0 50%;
    max-width:100%;
    /* background: red; */
    /* background-color: red; */
    margin-top: 100px;
}
.About-Section .About-content h2.title
{
    font-size: 24px;
    margin-bottom: 30px;
    font-weight: 700;
    color: var(--text-black-900);

}
.About-Section .About-content .timeline-box
{
    flex: 0 0 100%;
    max-width: 100%;
    /* background-color: red; */

}
.About-Section .About-content .timeline
{
    background-color: var(--bg-black-100);
    padding: 30px 15px;
    border: 1px solid var(--bg-black-50);
    border-radius: 50px;
    width: 100%;
    position: relative;
    /* background: red; */

}
.About-Section .About-content .timeline .timeline-item
{
    position: relative;
    padding-left: 37px;
    padding-bottom: 50px;
    /* background: red; */
}
.About-Section .About-content .timeline .timeline-item:last-child
{
    padding-bottom: 0%;
}
.About-Section .About-content .timeline .timeline-item::before
{
    content: '';
    width: 1px;
    position: absolute;
    height: 100%;
    left: 7px;
    top: 0;
    background-color: var(--skin-color);
}
.About-Section .About-content .timeline .circle-dot
{
    position: absolute;
    left: 0;
    top: 0;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    background-color: var(--skin-color);
}
.About-Section .About-content .timeline .timeline-date
{
    font-weight: 400;
    font-size: 14px;
    margin-bottom: 12px;
    color: var(--text-black-700);
}
.About-Section .About-content .timeline .timeline-date .fa
{
    margin-right: 5px;
}
.About-Section .About-content .timeline .timeline-title
{
    font-weight: 700;
    font-size: 18px;
    margin-bottom: 15px;
    text-transform: capitalize;
    color: var(--text-black-900);
}
.About-Section .About-content .timeline .timeline-text
{
    line-height: 25px;
    font-size: 16px;
    text-align: justify;
    color: var(--text-black-700);
}
.About-Section .About-content .education .Read-buttons
{
    margin-top: 30px;
}
.About-Section .About-content .education .Read-buttons .btn
{
    margin-right: 15px;
    margin-top: 1px;
}
.About-Section .About-content .experience .Read-buttons
{
    margin-top: 30px;
}
.About-Section .About-content .experience .Read-buttons .btn
{
    margin-right: 15px;
    margin-top: 1px;
}

/* Education */
.education-Section .education
{
    flex : 0 0 100%;
    max-width: 100%;
    padding-top: 2%;

    /* background: red; */
}
.education-Section .container .row
{
    display: flex;
    flex-wrap: wrap;
    /* background: red; */
    padding-top: 5%;
}
/* .education-Section .education .education-text
{
    flex: 0 0 100%;
    max-width: 100%;
} */
/* .education-Section .education .education-text h3
{
    font-size: 24px;
    margin-bottom: 15px;
    font-weight: 700;
    color: var(--text-black-900);
}
.education-Section .education .education-text h3 span
{
    color: var(--skin-color);
}
.education-Section .education .education-text p
{
    font-size: 16px;
    line-height: 25px;
    color: var(--text-black-700); 
} */
.education-Section .education .timeline-box
{
    flex: 0 0 100%;
    max-width: 100%;
    /* background-color: red; */

}
.education-Section .education .timeline
{
    background-color: var(--bg-black-100);
    padding: 30px 15px;
    border: 1px solid var(--bg-black-50);
    border-radius: 35px;
    width: 100%;
    position: relative;
    /* background: red; */

}
.education-Section .education .timeline .timeline-item
{
    position: relative;
    padding-left: 37px;
    padding-bottom: 50px;
    /* background: red; */
}
.education-Section .education .timeline .timeline-item:last-child
{
    padding-bottom: 0%;
}
.education-Section .education .timeline .timeline-item::before
{
    content: '';
    width: 1px;
    position: absolute;
    height: 100%;
    left: 7px;
    top: 0;
    background-color: var(--skin-color);
}
.education-Section .education .timeline .circle-dot
{
    position: absolute;
    left: 0;
    top: 0;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    background-color: var(--skin-color);
}
.education-Section .education .timeline .timeline-date
{
    font-weight: 400;
    font-size: 14px;
    padding-top: 50px;
    margin-top: 100px;
    margin-bottom: 12px;
    color: var(--text-black-700);
    flex: auto;
}
.education-Section .education .timeline .timeline-date .fa
{
    margin-right: 5px;
    padding-top: 20px;
    margin-top: auto;
    font-weight: 600;
    font-size: 18px;
    margin-bottom: 15px;
    text-transform: capitalize;
    list-style-type: square;
    color: var(--text-black-900);
}
.education-Section .education .timeline .timeline-title
{
    font-weight: 700;
    padding-top: 2%;
    font-size: 25px;
    margin-bottom: 20px;
    text-transform: capitalize;
    color: var(--text-black-900);
    list-style-type: square;
    /* background: red; */
}
.education-Section .education .timeline-item .timeline-title .underlined-link
{
    text-decoration: underline;
    padding-top: 20%;
    margin-top: auto;
    font-weight: 600;
    font-size: 18px;
    margin-bottom: 15px;
    text-transform: capitalize;
    list-style-type: square;
    color: var(--text-black-900);
}
.education-Section .education .timeline-item .timeline-text
{
    line-height: 25px;
    font-size: 16px;
    text-align: justify;
    padding-top: 1%;
    color: var(--text-black-700);
    font-weight: 400;
    font-size: 20px;
    /* background: red; */
}
.professional-section .professional-heading
{
    flex: 0 0 100%;
    max-width: 100%;
    /* background: red; */
}
.professional-section .professional-heading h2
{
    color: var(--text-black-900);
    font-weight: 500;
    font-size: 25px;
    padding-top: 2%;
    margin-bottom: 15px;
    text-transform: capitalize;
    list-style-type: square;
    /* background: red; */
}
..professional-section  .timeline-box
{
    flex: 0 0 100%;
    max-width: 100%;
    padding-left: 10%;
    /* background-color: red; */

}
.professional-section  .timeline
{
    background-color: var(--bg-black-100);
    padding: 30px 15px;
    border: 1px solid var(--bg-black-50);
    border-radius: 35px;
    width: 100%;
    position: relative;
    padding-left: 3%;
    /* background: red; */

}
.professional-section  .timeline .timeline-item
{
    position: relative;
    padding-left: 37px;
    padding-bottom: 50px;
    /* background: red; */
}
.professional-section .timeline .timeline-item:last-child
{
    padding-bottom: 2%;
    /* background: red; */
}
.professional-section .timeline .timeline-item::before
{
    content: '';
    width: 1px;
    position: absolute;
    height: 100%;
    left: 7px;
    top: 0;
    background-color: var(--skin-color);
}
.professional-section .timeline .circle-dot
{
    position: absolute;
    left: 0;
    top: 0;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    background-color: var(--skin-color);
}
.professional-section .section-title
{
    align-items: center;
    justify-content: center;
    /* background: red; */
    display: flex;
    flex-wrap: wrap;
    padding-top: 5%;
}
.professional-section .professional-heading
{
    font-weight: 600;
    padding: 10px 0;
    font-size: 16px;
    padding-left: 10%;
    margin-bottom: 15px;
    text-transform: capitalize;
    color: var(--text-black-900);
    /* background: red; */
}
.professional-section .timeline .timeline-date
{
    font-weight: 400;
    font-size: 14px;
    padding-top: 50px;
    margin-top: 100px;
    margin-bottom: 12px;
    color: var(--text-black-700);
    flex: auto;
    /* background: red; */
}
.professional-section .timeline .timeline-date .fa
{
    margin-right: 5px;
    padding-top: 20px;
    margin-top: auto;
    font-weight: 600;
    font-size: 18px;
    margin-bottom: 15px;
    text-transform: capitalize;
    list-style-type: square;
    color: var(--text-black-900);
}
.professional-section .container1
{
    flex: 0 0 100%;
    max-width: 100%;
    padding: 2%;
    background: red;
}
.professional-section .container .work .fa
{
    margin-right: 5px;
    padding-top: 20px;
    padding-left: 13%;
    margin-top: auto;
    font-weight: 600;
    font-size: 18px;
    margin-bottom: 15px;
    text-transform: capitalize;
    list-style-type: square;
    color: var(--text-black-900);
}
.professional-section .timeline .timeline-title
{
    font-weight: 700;
    padding-top: 2%;
    font-size: 25px;
    margin-bottom: 20px;
    text-transform: capitalize;
    color: var(--text-black-900);
    list-style-type: square;
    /* background: red; */
}
.professional-section .timeline-item .timeline-text
{
    line-height: 25px;
    font-size: 16px;
    text-align: justify;
    padding-top: 1%;
    color: var(--text-black-700);
    font-weight: 400;
    font-size: 20px;
    /* background: red; */
}


.project-Section .container .section-title
{
    /* max-width: 100%; */
    /* margin-left:15%; */
    align-items: center;
    justify-content: center;
    /* background: red; */
    display: flex;
    flex-wrap: wrap;
    padding-top: 5%;
}

.project-Section .container-items {
    display: flex;
    flex-wrap: wrap;
    max-width: 100%;
    margin-left: 20%;
    /* align-self: center; */
    /* justify-content: center; */
    /* margin-left: 0%; */
    /* flex : 0 0 100%; */
    /* max-width: 100%; */
    /* padding-left: 10%; */
    /* background: red; */
}
.project-Section .project-item 
{
    margin-left: 10%; /* Consider adjusting or removing this line */
    padding-left: 50px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 50px;
    padding-right: 50px;
    margin-bottom: 30px;
    max-width: 100%;
    box-sizing: border-box;
}
.project-Section .project-item .project-item-inner
{
    border: 6px solid var(--bg-black-100);
    border-radius: 10px;
    padding: 30px 15px;
    background-color: var(--bg-black-100);
    text-align: center;
    transition: all 0.3s ease;

}
.project-Section .project-item .project-item-inner:hover
{
    
    box-shadow: 0 0 20px rgba(48, 46, 77, 0.15);

}
.project-Section .project-item .project-item-inner .icon
{
    height: 60px;
    width: 60px;
    border-radius: 50%;
    display: block;
    margin: 0 auto 30px;
    text-align: center;
    transition: all 0.3s ease;
    /* background: red; */
}
.project-Section .project-item .project-item-inner .icon .fa
{
    font-size: 40px;
    line-height: 60px;
    color: var(--skin-color);
    transition: all 0.3s ease;
}
.project-Section .project-item .project-item-inner:hover .icon
{
    background: var(--skin-color);
}
.project-Section .project-item .project-item-inner:hover .icon .fa
{
    font-size: 25px;
    color: #ffffff;
}
.project-Section .project-item .project-item-inner h4
{
    font-size: 18px;
    margin-bottom: 15px;
    color: var(--text-black-900);
    text-transform: capitalize;
    font-weight: 700;
}
.project-Section .project-item .project-item-inner p
{
    font-size: 16px;
    color: var(--text-black-700);
    line-height: 25px;
}
.project-Section .project-item .project-item-inner .project-photo .img
{
    height: 200px;
    width: 300px;
    /* background: red; */
}
/* contact */
.contact-section .section-title
{
    align-items: center;
    justify-content: center;
    /* background: red; */
    display: flex; 
    flex-wrap: wrap; 
    padding-top: 5%;
    padding-right:50%;
}
.contact-section .container
{
    padding-bottom: 30px;
    padding: 20px;
    /* background: red; */
    margin-left: 25%;

}
.contact-title
{
    color: var(--skin-color);
    text-align: center;
    font-size: 25px;
    margin-bottom: 20px;
    /* background: red; */
}
.contact-sub-title
{
    color: var(--text-black-900);
    text-align: center;
    font-size: 15px;
    margin-bottom: 60px;
    /* background: red; */
}
.contact-section .contact-info-item 
{
    flex: 10%;
    max-width: 20%;
    text-align: center;
    margin-bottom: 60px;
    /* background: red; */
}
.contact-section .contact-info-item .icon
{
    display: inline-block;
}
.contact-section .contact-info-item .icon .fa
{
    font-size: 25px;
    color: var(--skin-color);
}
.contact-section .contact-info-item h4
{
    font-size: 18px;
    font-weight: 700;
    color: var(--text-black-900);
    text-transform: capitalize;
    margin: 15px 0 5px;
}
.contact-section .contact-info-item p
{
    font-size: 16px;
    line-height: 25px;
    color: var(--text-black-700);
    font-weight: 400;
}
.contact-section .contact-form
{
    flex: 0 0 100%;
    max-width: 100%;
    /* background: red; */
}
.contact-section .contact-form .col-6
{
    flex : 0 0 50%;
    max-width: 50%;
    /* background: red; */
}
.contact-section .contact-form .col-12
{
    flex : 0 0 100%;
    max-width: 100%;
    /* background: red; */
}
.contact-section .contact-form .form-item
{
    margin-bottom: 30px;
}
.contact-section .contact-form .form-item .form-control
{
    width: 100%;
    height: 50px;
    border-radius: 25px;
    background: var(--bg-black-100);
    border: 1px solid var(--bg-black-50);
    padding: 10px 25px;
    font-size: 16px;
    color: var(--text-black-700);
    transition: all 0.3s ease;
}
.contact-section .contact-form .form-item .form-control:focus
{
    box-shadow: 0 0 20px rgba(48, 46, 77, 0.15);
}
.contact-section .contact-form .form-item textarea.form-control
{
    height: 140px;
}
.contact-section .contact-form .btn
{
    height: 50px;
    padding: 0 50px;
}
@media(max-width: 1199px)
{
    .aside
    {
        left: -270px;
    }
    .main-content
    {
        padding-left: 0;
    }
    .about .about-content .personal-info .info-item p span
    {
        display: block;
        margin-left: 0;
    }
}
@media(max-width: 991px)
{
    .contact-section .contact-info-item ,
    .professional-section .container1,
    .project-Section .project-item
    {
        flex: 0 0 50%;
        max-width: 50%;
    }
    .home .home-img 
    {
        display: none;
    }

    .home .home-info
    {
        flex: 0 0 100%;
        max-width: 100%;
    }
}
@media(max-width: 767px)
{
    .contact-section .contact-form .col-6,
    /* .contact-section .contact-form .col-12, */
    .contact-section .contact-info-item ,
    .professional-section .container1,
    .project-Section .project-item,
    .about .about-content .education,
    .about .about-content .experience,
    .about .about-content .skills,
    .about .about-content .personal-info
    {
        flex: 0 0 100%;
        max-width: 100%;
    }
}